<div class="container summary-container">
  <div class="container flex-row">
    <div class="me-5">
      <img src="assets/img-1.JPG" alt="image not found">
    </div>
    <div class="flex-col mt-3">
      <div class="mb-2">
        <h1 class="name-tag">Roger Chen</h1>
      </div>
      <div class="mb-3">
        <p class="description mb-0">
          I am a Fullstack Developer at heart and create features that are best suited for the job at hand.
        </p>
      </div>

      <div class="container d-flex justify-content-start ps-0">
        <ul class="flex-row ps-0">
          <li class="link-item me-2">
            <!--        todo add my url-->
            <a class="custom-link" href="https://www.linkedin.com/in/chemxy/" target="_blank">
              <i class="bi-linkedin"></i>
            </a>
          </li>
          <li class="link-item me-2">
            <!--        todo add my url-->
            <a class="custom-link" href="https://www.gmail.com/" target="_blank">
              <i class="bi-envelope-fill"></i>
            </a>
          </li>
          <li class="link-item me-2">
            <!--        todo add my url-->
            <a class="custom-link" href="https://github.com/chemxy" target="_blank">
              <i class="bi-github"></i>
            </a>
          </li>
          <li class="link-item me-2">
            <!--        todo add my url-->
            <a class="custom-link" href="https://www.facebook.com/" target="_blank">
              <i class="bi-facebook"></i>
            </a>
          </li>
          <li class="link-item me-2">
            <!--        todo add my url-->
            <a class="custom-link" href="https://twitter.com/" target="_blank">
              <i class="bi-twitter-x"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
