<div>
    <div class="section-label text-capitalize">
        About me
    </div>
    <mat-card id="about-me-card">
        <div class="m-4">
            <p> Software Engineering graduate with good self-initiatives, organization skill and project
                experience.
                Excellent attention to detail. Goal-driven. Fast learner. Great sense of empathy. 2-year work
                experience. Led many work and course projects to completion with great contribution. 4-month
                volunteer
                experience in VI ASHRAE web development.

            </p>
        </div>
    </mat-card>
</div>