#footer {
    /* padding: 100px 0; */
    width: 100%;
    /* margin-top: 100px; */
    background: #fafafa;
    /* border-radius: 10px; */
    padding: 25px 0;
    /* display: inline-block !important; */
}

.footer-icon {
    margin-left: 1rem;
}