<mat-card id="contact-form">
    <form id="contact-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="validationDefault01">First name</label>
            <input type="text" class="form-control" id="first-name" placeholder="First name" name="first-name" ngModel
                required #firstName="ngModel">
            <span class="help-message" *ngIf="!firstName.valid && firstName.touched"> Please enter a valid name</span>
        </div>

        <div class="form-group">
            <label for="validationDefault02">Last name</label>
            <input type="text" class="form-control" id="last-name" placeholder="Last name" name="last-name" ngModel
                required #lastName="ngModel">
            <span class="help-message" *ngIf="!lastName.valid && lastName.touched"> Please enter a valid name</span>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-address" placeholder="Enter your email"
                name="email-address" ngModel required email #emailAddress="ngModel">
            <span class="help-message" *ngIf="!emailAddress.valid && emailAddress.touched"> Please enter a valid email
                address</span>
        </div>

        <div class="form-group ">
            <label for="email-title">Email title</label>
            <input type="text" class="form-control" id="email-title" placeholder="Enter the tile for your email"
                name="email-title" ngModel>
        </div>

        <div class="form-group">
            <label for="email-content">Content</label>
            <textarea class="form-control" id="email-content" placeholder="Write contents here for your email"
                name="email-content" ngModel></textarea>
        </div>

        <!-- <div class="form-group">
            <label for="customFile">Attachments</label>
            <input type="file" class="form-control" id="customFile">
        </div> -->

        <div class="formgroup text-capitalize" *ngFor="let gender of genders">
            <label>
                <input type="radio" name="gender" ngModel [value]="gender">
                {{gender}}
            </label>
        </div>

        <div class="form-group">
            <button id="submit-contact-form" type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
        </div>
    </form>
</mat-card>