<h2 class="text-uppercase">
    About Me
</h2>

<br>

<h5>Software Engineer</h5>
<p class="font-weight-light">
    Independent, self-organized 4th-year Software Engineering student who likes new technology and challenges. Participated in many class projects with great contribution. Proven project leader, having led multiple class projects to completion. Active member
    of UN Volunteer. Active volunteer in VI ASHRAE projects. Have several personal projects experience. Previous work experience in developing mini-programs on Wechat. Love table tennis, guitar, cooking and photographing.
</p>