<!-- <app-nav-bar></app-nav-bar> -->

<!-- page header and title -->
<app-header></app-header>
<app-nav-bar></app-nav-bar>

<!-- nav bar -->
<!-- <mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    </button>
    <a mat-button [routerLink]="'/'" routerLinkActive="active" class="text-captalize"> Summary </a>
    <a mat-button [routerLink]="'/resume'" routerLinkActive="active" class="text-captalize"> Resume </a>
    <a mat-button [routerLink]="'/projects'" routerLinkActive="active" class="text-captalize"> Projects </a>
    <a mat-button [routerLink]="'/contact'" routerLinkActive="active" class="text-captalize"> Contact </a>
  </mat-toolbar-row>
</mat-toolbar> -->

<!-- side nav -->
<!-- <mat-drawer-container class="side-nav-container">
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-list>
      <a mat-list-item [routerLink]="'/'" class="text-captalize">
        Summary
      </a>
      <a mat-list-item [routerLink]="'/resume'" class="text-captalize">
        Resume
      </a>
      <a mat-list-item [routerLink]="'/projects'" class="text-captalize">
        Projects
      </a>
      <a mat-list-item [routerLink]="'/contact'" class="text-captalize">
        Contact
      </a>
    </mat-list>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container> -->

<!-- footer -->
<app-footer></app-footer>