<div class="container offset-md-1" style=" margin-top:100px; padding-bottom:100px; ">

<div class="row ">
    <div class="col ">
        <div class="container " style="padding-top:30px;" >
            <img [src]=imageLink style="width:480px;height:720px;" alt="image not loaded. link: {{imageLink}}">
        </div>
    </div>
    <div class="col ">
        <div class="container " style="padding-top:100px; ">
            <h2>About Me</h2>
            <!--<h5>Software Engineer</h5>-->
            <br>
            <p class="font-weight-light">Independent, self-organized 4th-year Software Engineering student who
                likes new technology and challenges. Participated in many class projects with great
                contribution. Proven project leader, having led multiple class projects to completion.
                Active member of UN Volunteer. Active volunteer in VI ASHRAE projects. Have several personal
                projects experience. Previous work experience in developing mini-programs on Wechat. Love table
                tennis, guitar, cooking and photographing.
            </p>
        </div>
    </div>
</div>
</div>