<div class="container mt-5 mb-5">

    <div class="row">
        <div class="col">
            <div class="container imageContainer">
                <img [src]=imageLink style="width:480px;height:720px; " alt="image not loaded. link: {{imageLink}} ">
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div id="about-me" class="container infoConatiner">
                    <app-about-me></app-about-me>
                </div>

            </div>
            <div class="row">
                <div id="tech-stacks" class="container infoConatiner">
                    <app-tech-stacks></app-tech-stacks>
                </div>
            </div>
        </div>
    </div>
</div>