<div class="skill-set">
  <div class="text-capitalize section-label d-flex ms-auto me-auto justify-content-center">Web technologies</div>
  <mat-chip-listbox id="web-chip-set">
    <div class="d-flex ms-auto me-auto justify-content-center">
      <mat-chip class="text-capitalize" *ngFor="let webChip of webChips">{{webChip}}</mat-chip>
    </div>
  </mat-chip-listbox>
</div>

<div class="skill-set">
  <div class="text-capitalize section-label d-flex ms-auto me-auto justify-content-center">database</div>
  <mat-chip-listbox id="db-chip-set">
    <div class="d-flex ms-auto me-auto justify-content-center">
      <mat-chip class="text-capitalize" *ngFor="let dbChip of dbChips">{{dbChip}}</mat-chip>
    </div>
  </mat-chip-listbox>
</div>

<div class="skill-set">
  <div class="text-capitalize section-label d-flex ms-auto me-auto justify-content-center">programming languages</div>
  <mat-chip-listbox id="programming-chip-set">
    <div class="d-flex ms-auto me-auto justify-content-center">
      <mat-chip class="text-capitalize" *ngFor="let languageChip of languageChips">{{languageChip}}</mat-chip>
    </div>
  </mat-chip-listbox>
</div>

<div class="skill-set">
  <div class="text-capitalize section-label d-flex ms-auto me-auto justify-content-center">DevOps</div>
  <mat-chip-listbox id="devops-chip-set">
    <div class="d-flex ms-auto me-auto justify-content-center">
      <mat-chip class="text-capitalize" *ngFor="let devOpsChip of devOpsChips">{{devOpsChip}}</mat-chip>
    </div>
  </mat-chip-listbox>
</div>

<div class="skill-set">
  <div class="text-capitalize section-label d-flex ms-auto me-auto justify-content-center">data science</div>
  <mat-chip-listbox id="data-chip-set">
    <div class="d-flex ms-auto me-auto justify-content-center">
      <mat-chip class="text-capitalize" *ngFor="let dataScienceChip of dataScienceChips">{{dataScienceChip}}
      </mat-chip>
    </div>
  </mat-chip-listbox>
</div>

<div class="skill-set">
  <div class="text-capitalize section-label d-flex ms-auto me-auto justify-content-center">testing</div>
  <mat-chip-listbox id="testing-chip-set">
    <div class="d-flex ms-auto me-auto justify-content-center">
      <mat-chip class="text-capitalize" *ngFor="let testingChip of testingChips">{{testingChip}}</mat-chip>
    </div>
  </mat-chip-listbox>
</div>

<div class="skill-set">
  <div class="text-capitalize section-label d-flex ms-auto me-auto justify-content-center">UI Design</div>
  <mat-chip-listbox id="ui-chip-set">
    <div class="d-flex ms-auto me-auto justify-content-center">
      <mat-chip class="text-capitalize" *ngFor="let uiChip of uiChips">{{uiChip}}</mat-chip>
    </div>
  </mat-chip-listbox>
</div>
