<mat-card class="float-block-2">
    <h3 class="text-capitalize">{{project.title}}</h3>
    <h5 class=" text-capitalize font-weight-normal font-italic">{{project.type}}</h5>
    <h5>{{project.startDate}} - {{project.endDate}}</h5>
    <div>
        <ul>
            <li *ngFor="let item of project.description">
                {{item}}
            </li>
        </ul>
    </div>
    <mat-chip-listbox>
        <mat-chip *ngFor="let technology of project.technologies">{{technology}}</mat-chip>
    </mat-chip-listbox>

</mat-card>