img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

#summary {
    width: 960px;
    height: 720px;
    margin-top: 35px;
    border-radius: 14px;
    flex-direction: row;
    /* 2 lines below can center the element */
    margin-right: auto;
    margin-left: auto;

}

#description {
    width: 40%;
    margin-left: 8rem;
}

@media screen and (max-width: 1024px) {
    img {
        width: 240px;
        height: 240px;

    }

    #summary {
        flex-direction: column !important;
        width: 600px;
        height: 1067px;
    }

    #description {
        width: 65%;
        margin-left: 0rem;
        padding-bottom: 60px;
    }

    #selfie-container {
        margin-top: 60px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 600px) {
    img {
        width: 150px;
        height: 150px;

    }

    #summary {
        flex-direction: column !important;
        width: 390px;
        height: 1060px;
    }
}