<div id="contact-form" class="container mt-5" style="margin-bottom: 9rem;">
    <form id="contact-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="validationDefault01">First name</label>
            <input type="text" class="form-control" id="first-name" placeholder="First name" name="first-name" ngModel required>
        </div>

        <div class="form-group">
            <label for="validationDefault02">Last name</label>
            <input type="text" class="form-control" id="last-name" placeholder="Last name" name="last-name" ngModel required>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-address" placeholder="Enter your email" name="email-address" ngModel required email>
        </div>

        <div class="form-group ">
            <label for="email-title">Email title</label>
            <input type="text" class="form-control" id="email-title" placeholder="Enter the tile for your email" name="email-title" ngModel>
        </div>

        <div class="form-group">
            <label for="email-content">Content</label>
            <textarea class="form-control" id="email-content" placeholder="Write contents here for your email" name="email-content" ngModel></textarea>
        </div>

        <!-- <div class="form-group">
            <label for="customFile">Attachments</label>
            <input type="file" class="form-control" id="customFile">
        </div> -->

        <div class="form-group">
            <button id="submit-contact-form" type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
        </div>
    </form>
</div>