<mat-card class="float-block" id="summary" fxLayoutAlign="center center">

    <div id="selfie-container">
        <img id="selfie" [src]=imageLink alt=" image not loaded.">
    </div>

    <div id="description">
        <div id="about-me">
            <h1 class="text-uppercase"> Roger Chen </h1>
            <h3>Software Engineering New Grad</h3>
            <br>
            <p>
                Software Engineering graduate with good self-initiatives, organization skill and project experience.
                Attention to
                detail. Goal-driven. Fast learner. Great sense of empathy. 2-year work experience. Led many work and
                course projects to
                completion with great contribution. 4-month volunteer experience in VI ASHRAE web development.
            </p>
            <br>
            <p>
                <strong>Email:</strong> chemxywork@gmail.com
            </p>
        </div>
    </div>
</mat-card>