#skills-title {
    margin: 20px 0;
    text-align: center !important;
}

.skills-container {
    /* justify-content: center; */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    /* width: 800px; */
    width: 60%;
    padding-top: 15px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

:host ::ng-deep .mat-chip-list-wrapper {
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.skill-set {
    margin: 20px 0;
}