/* You can add global styles to this file, and also import other style files */

.block-1 {
    background-color: white;
    margin-bottom: 2rem;
    padding: 3rem
}

.heading-1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

html, body {
    height: 100%;
    min-width: 320px;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-captalize {
    text-transform: capitalize;
}