.profile-tag {
    height: 180px;
    justify-content: center;
    max-width: 300px;
    padding: 20px 40px;
}

@media (max-width: 768px) {

    .profile-tag {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
}