<div class="skill-set">
  <h2 class="text-capitalize">Web technologies</h2>
  <mat-chip-listbox id="web-chip-set">
    <mat-chip class="text-capitalize" *ngFor="let webChip of webChips">{{webChip}}</mat-chip>
  </mat-chip-listbox>
</div>
<div class="skill-set">
  <h2 class="text-capitalize">database</h2>
  <mat-chip-listbox id="db-chip-set">
    <mat-chip class="text-capitalize" *ngFor="let dbChip of dbChips">{{dbChip}}</mat-chip>
  </mat-chip-listbox>
</div>
·
<div class="skill-set">
  <h2 class="text-capitalize">programming languages</h2>
  <mat-chip-listbox id="programming-chip-set">
    <mat-chip class="text-capitalize" *ngFor="let languageChip of languageChips">{{languageChip}}</mat-chip>
  </mat-chip-listbox>
</div>

<div class="skill-set">
  <h2 class="text-capitalize">DevOps</h2>
  <mat-chip-listbox id="devops-chip-set">
    <mat-chip class="text-capitalize" *ngFor="let devOpsChip of devOpsChips">{{devOpsChip}}</mat-chip>
  </mat-chip-listbox>
</div>

<div class="skill-set">
  <h2 class="text-capitalize">data science</h2>
  <mat-chip-listbox id="data-chip-set">
    <mat-chip class="text-capitalize" *ngFor="let dataScienceChip of dataScienceChips">{{dataScienceChip}}
    </mat-chip>
  </mat-chip-listbox>
</div>

<div class="skill-set">
  <h2 class="text-capitalize">testing</h2>
  <mat-chip-listbox id="testing-chip-set">
    <mat-chip class="text-capitalize" *ngFor="let testingChip of testingChips">{{testingChip}}</mat-chip>
  </mat-chip-listbox>
</div>

<div class="skill-set">
  <h2 class="text-capitalize">UI Design</h2>
  <mat-chip-listbox id="ui-chip-set">
    <mat-chip class="text-capitalize" *ngFor="let uiChip of uiChips">{{uiChip}}</mat-chip>
  </mat-chip-listbox>
</div>
