<mat-toolbar>
    <button mat-icon-button *ngIf="tabletMode; else pcMode" (click)="sidenav.toggle()">
        <mat-icon>
            menu
        </mat-icon>
    </button>
    <ng-template #pcMode>
        <a mat-button [routerLink]="'/'" routerLinkActive="active" class="text-captalize"> Summary </a>
        <a mat-button [routerLink]="'/resume'" routerLinkActive="active" class="text-captalize"> Resume </a>
        <a mat-button [routerLink]="'/projects'" routerLinkActive="active" class="text-captalize"> Projects </a>
        <a mat-button [routerLink]="'/contact'" routerLinkActive="active" class="text-captalize"> Contact </a>
    </ng-template>

</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav #sidenav>
        <div>
            <a mat-button [routerLink]="'/'" routerLinkActive="active" class="text-captalize"> Summary </a>
        </div>
        <div>
            <a mat-button [routerLink]="'/resume'" routerLinkActive="active" class="text-captalize"> Resume </a>
        </div>
        <div>
            <a mat-button [routerLink]="'/projects'" routerLinkActive="active" class="text-captalize"> Projects </a>
        </div>
        <div>
            <a mat-button [routerLink]="'/contact'" routerLinkActive="active" class="text-captalize"> Contact </a>

        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div id="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>