<mat-toolbar id="navbar">
    <button mat-icon-button *ngIf="tabletMode; else pcMode" (click)="toggleSideNav()">
        <mat-icon>
            menu
        </mat-icon>
    </button>
    <ng-template #pcMode>
        <a mat-button [routerLink]="'/'" routerLinkActive="active" class="text-captalize"> Summary </a>
        <a mat-button [routerLink]="'/resume'" routerLinkActive="active" class="text-captalize"> Resume </a>
        <a mat-button [routerLink]="'/projects'" routerLinkActive="active" class="text-captalize"> Projects </a>
        <a mat-button [routerLink]="'/contact'" routerLinkActive="active" class="text-captalize"> Contact </a>
    </ng-template>

</mat-toolbar>