//@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  margin: 0;
  //font-family: "Roboto", sans-serif;
  font-family: "Quicksand", sans-serif;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

//links and lists
.active,
.custom-link.active {
  font-weight: bold;
}

.custom-link {
  text-decoration: none;
  color: black;
}

.custom-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.link-item {
  list-style-type: none;
}
